$primary: #0095ff;

$menu-bg: #0f2153;
$menu-text: #bfcbd9;
$menu-bg-hover: rgba(21, 240, 250, 0.1);

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuBg: $menu-bg;
  menuText: $menu-text;
}
