$primary: #0095ff;

$menu-bg: #001529;
$menu-text: #bfcbd9;
$app-bg: #f0f2f5;

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuBg: $menu-bg;
  menuText: $menu-text;
}
